body {
  display: grid;
  width: 1000px;
  margin: 0px 50px auto auto;
  font-family: Arial;
}

header {
  position: relative;
  height: 200px;
  background-color: rgba(154,205,50, 0.7);
}

.status {
  position: absolute;
  top: 100px;
  left: 600px;
  letter-spacing: 3px;
  color: rgb(255,255,240);
  font-weight: bold;
  font-size: 20pt;
}

img {
  width: 100px;
  margin: 20px 30px 0px 20px;
  float: left;
}

.my-name {
  letter-spacing: 1px;
}
h1 {
  opacity: 0;
  line-height: 20px;
}
main {
  background-color: rgb(255,255,240);
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

section {
  margin: 20px 50px;
}

a {
  text-decoration: none;
}
.contacts {
  margin-top: 40px;
}

.english {
  margin-bottom: 50px;
}

.text {
  width: 600px;
  margin: 20px 100px auto auto;
  padding: 10px;
  border: 1px solid rgba(154,205,50, 0.7);
  border-radius: 7px;
}

footer {  
  height: 120px;
  background-color: rgba(154,205,50, 0.7);
}
footer img {
  width: 60px;
  float: right;
  margin-right: 155px;
  margin-top: 30px;  
}
